* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
img {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(7, 7, 49);
  border-bottom: 5px solid rgb(219, 88, 88);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.logo {
  width: 3rem;
  margin: 1rem 0 1em 1rem;
}

.get-in-touch-navbar,
.get-in-touch-intro {
  display: flex;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  align-items: center;
}

.get-in-touch-navbar {
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
}

.get-in-touch-navbar:hover,
.get-in-touch-navbar:focus {
  background: white;
  color: rgb(7, 7, 49);
  border: 2px dashed rgb(7, 7, 49);
}

.get-in-touch-navbar h5 {
  padding-right: 0.3rem;
}

.get-in-touch-navbar .email-icon {
  width: 1.4rem;
}

.get-in-touch-intro {
  padding: 0.6rem 0.8rem;
  border: 2px solid white;
  margin-top: 3rem;
}

.get-in-touch-intro h5 {
  padding-right: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}

.get-in-touch-intro .email-icon {
  width: 1.5rem;
}

.navbar-links {
  display: none;
  position: absolute;
  top: 3.4rem;
  right: 0rem;
  z-index: 9999;
}

.navbar-links-active {
  display: block;
}

.navbar-links li {
  list-style: none;
  padding: 1rem 1rem 0.4rem 0;
  border-bottom: 0.1rem solid black;
  background: rgba(7, 7, 49, 0.7);
}

.navbar-links a {
  margin: 0;
  padding: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

.hamburger-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem 1rem 1rem 1.5rem;
}

.hamburger-toggle .bar {
  width: 100%;
  height: 0.2rem;
  border-radius: 0.3rem;
  background: white;
}

.img-and-name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(87, 7, 87, 0.2);
}

.profile-bg {
  width: 100%;
  height: 33rem;
  opacity: 0.3;
}

.profile-img,
.name-and-job-title {
  position: absolute;
  color: white;
}

.profile-img {
  max-width: 12rem;
  border: 0.2rem solid rgb(7, 7, 49);
  border-radius: 15%;
  top: 8rem;
}

.name-and-job-title {
  text-shadow: 2px 4px 2px black;
  text-align: center;
  background: rgba(7, 7, 49, 0.3);
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  border: 1px dashed rgb(7, 7, 49);
  border-radius: 3px;
  top: 24.5rem;
}

.name {
  margin-bottom: 0.3rem;
  word-spacing: 0.3rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(87, 7, 87);
  color: white;
  padding: 2rem 0 3rem 0;
}

.underline {
  width: 7rem;
}

.about-me p,
.about-me .skillset {
  max-width: 70%;
}

.about-me p {
  text-align: justify;
  font-size: 0.7rem;
  margin: 1rem 0 1.7rem 0;
  line-height: 1.5rem;
}

.certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.skillset h4,
.certifications h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.certifications,
.cert-item a {
  color: rgb(87, 7, 87);
}

.cert-item a {
  font-size: 0.9rem;
}

.skillset-grid,
.cert-grid {
  display: grid;
}

.skillset-grid {
  grid-template-columns: repeat(2, 1fr);
}

.cert-grid {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
}

.skill-item,
.cert-item {
  display: flex;
  align-items: center;
  margin: 0.6rem 1rem;
}

.skillset-img {
  margin-right: 0.3rem;
  width: 2rem;
}

.cert-img {
  margin-right: 0.8rem;
  width: 4rem;
}

.cert-item {
  text-align: center;
}

.cert-item p {
  font-size: 0.8rem;
  color: black;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: white;
  background: rgb(87, 7, 87);
  padding: 2rem;
}

.italicize {
  font-style: italic;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
  margin: 2rem 0;
  font-size: 0.7rem;
}

.soonest {
  color: red;
  font-size: 0.9rem;
}

.soonest:empty {
  display: none;
}

.project-img {
  width: 100%;
  border: 2px solid rgb(7, 7, 49);
  border-radius: 0.5rem;
}

.project-name {
  margin: 0.8rem 0;
  font-size: 0.9rem;
}

.tech {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 0.3rem 0.3rem 0;
  background: rgba(147, 185, 255, 0.3);
}

.tech:empty {
    display: none;   /* removes empty elements,
    to prevent styling them like their similar
    non-empty elements */
}

.description {
  margin: 1rem 0;
}

.liveDemo-and-github,
.github-flex {
  display: flex;
  align-items: center;
}

.liveDemo-and-github a {
  color: #93b9ff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.live-demo,
.github-flex {
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.5rem;
}

.each-project:last-child .liveDemo-and-github p,
.each-project:last-child .liveDemo-and-github a {
  pointer-events: none;
  color: grey;
  border-color: grey;
}

.live-demo {
  margin-right: 2rem;
}

.github-logo {
  width: 1.2rem;
  margin-left: 0.2rem;
  opacity: 0.6;
}

footer {
  background: rgb(7, 7, 49);
  color: white;
  font-size: 0.8rem;
  padding: 1.5rem;
  text-align: center;
  border-top: 5px solid rgb(219, 88, 88);
}


/* ---------MEDIA QUERIES--------- */
@media(min-width: 420px) {
  .logo {
    width: 4rem;
  }

  .get-in-touch {
    font-size: 1.2rem;
  }

  .profile-bg {
    height: 42.5rem;
  }

  .profile-img {
    max-width: 18rem;
  }

  .name-and-job-title {
    top: 32.5rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .job-title {
    font-size: 1rem;
  }

  .about-me p,
  .projects {
    font-size: 0.8rem;
  }

  .skillset-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .cert-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  .project-name,
  footer {
    font-size: 0.9rem;
  }
}

@media(min-width: 768px) {
  .navbar-links {
    display: block;
    position: static;
  }

  .navbar-links ul {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .navbar-links li {
    padding: 0;
    border-bottom: none;
    background: none;
  }

  /* .navbar-links li:focus {
    background: rgba(75, 75, 122, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
  } */

  .navbar-links a {
    padding: 0 1.5rem;
    font-size: 1rem;
  }

  .navbar-links a:hover {
    color: rgb(219, 88, 88);
  }

  .navbar-links a:focus {
    background: rgba(75, 75, 122, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
  }

  .hamburger-toggle {
    display: none;
  }

  .navbar-links a {
    font-size: 1.1rem;
  }

  .profile-bg {
    height: 47rem;
  }

  .profile-img {
    max-width: 20rem;
  }

  .name-and-job-title {
    top: 35.5rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .job-title {
    font-size: 1.2rem;
  }

  .about-me h3,
  .skillset h4 {
    font-size: 1.3rem;
  }

  .about-me p,
  .projects {
    font-size: 0.9rem;
  }

  .skillset-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .skillset-img {
    width: 3rem;
  }

  .skill-item h5 {
    font-size: 1rem;
  }

  .get-in-touch-intro:hover,
  .get-in-touch-intro:focus {
    background: white;
    color: rgb(87, 7, 87);
    border: 2px dashed rgb(87, 7, 87);
  }
  
  .get-in-touch-intro h5 {
    font-size: 1.2rem;
  }
  
  .get-in-touch-intro .email-icon {
    width: 1.8rem;
  }

  .cert-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 80%;
  }

  .cert-img {
    margin-right: 1rem;
    width: 4rem;
  }

  .cert-item a:hover,
  .cert-item a:focus {
    color: rgb(219, 88, 88);
    text-decoration: underline;
  }

  .project-name {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }
}